.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;

  .heading {
    width: 100%;
    display: flex;
    padding: 0 0 20px 0;
    text-align: left;

    h2 {
      font-weight: 900;
      color: var(--primaryColor);
      font-size: 2rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .textFields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .textField {
        margin: 10px 0;
        min-width: 300px;
      }
    }

    .submitWrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin: 10px 0;

      h4 {
        font-weight: 600;
        font-size: 0.8rem;
      }

      .loginBtn {
        background: var(--primaryColor) !important;
        color: white !important;
        font-weight: 600;
      }
    }
  }
  .newHere {
    display: block;
    position: relative;
    width: 100%;
    align-items: center;
    line-height: 0;
    top: 2px;
    padding-top: 1px;
    margin: 20px 0;
    h5 {
      font-weight: 300;
      margin: 0 5px;
      width: fit-content;
      margin: auto;
      text-align: center;
      line-height: 1;
      position: relative;
      z-index: 2;
      background-color: white;
      padding: 0 8px 0 8px;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      top: 50%;
      width: 100%;
      border-top: 1px solid var(--orangeTint);
      margin-top: -1px;
      z-index: 0;
    }
  }
  .createAccount {
    width: 100%;
    Button {
      width: 100%;
    }
  }
}
