.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin: auto;
  width: var(--fixedWidth);
  color: white;
}
.logo {
  flex: 1;
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.navLinksContainer {
  width: 30%;

  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navLink {
      list-style: none;
      a {
        text-decoration: none !important;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .logo {
    padding: 10px;
  }
  .navLinksContainer {
    display: none;
  }
}
